// font CSS

.blog-menu-link, .blog-menu-slash, .article-title,.part-text,.page-switch-title{
    font-family: "Noto Sans TC", sans-serif;
}

.article-tag, .article-eng-title,.share-link{
    font-family: "Roboto", sans-serif;
}

// article CSS

.article{
    padding-top: 24px;
    @include mobile{
        margin-bottom: 24px;
    }
}

.blog-menu-link-wrapper{
    margin-bottom: 8px;
}

.blog-menu-link, .blog-menu-slash{
    font-size: 16px;
}

.article-tag-wrapper{
    margin-bottom: 8px;
    width: 13.9%;
    column-gap: 16px;
}

.article-tag{
    font-size: 24px;
    font-weight: bold;
    @include mobile{
        font-size: 16px;
    }
}

.article-content-wrapper{
    column-gap: 24px;
    justify-content: flex-start;
}

.article-content-list{
    width: 66%;
    @include tablet{
        width: 74.1%;
    }
    @include mobile{
        width: 100%;
    }
}
.article-title{
    font-size: 48px;
}
.article-eng-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.article-content-part-list{
    row-gap: 40px;
    margin-bottom: 40px;
    flex-direction: column;
    @include tablet {
        row-gap: 24px;
    }
    @include mobile {
        margin-bottom: 0;
    }
}
.part-image{
    width: 100%;
}
.part-text{
    font-size: 16px;
    color: #555555;
}

.mdi.mdi-label-outline{
    font-size: 48px;
    @include tablet {
        font-size: 24px;
    }
}

.article-tag-list{
    width: 20%;
    @include tablet{
        width: 25.8%;
    }
    @include mobile{
        display: none;
    }
}

.article-tag-title{
    column-gap: 12px;
    justify-content: flex-start;
    align-items: center;
}

.article-tag-title-text{
    font-size: 32px;
    font-weight: bold;
    @include tablet {
        font-size: 16px;
    }
}

.article-tag-item{
    column-gap: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
    .article-tag{
        @include tablet{
            font-size: 16px;
        }
    }
}

// article fuction CSS

.article-function-wrapper{
    width: 66%;
    @include tablet {
        width: 100%;
    }
    @include mobile{
        display: none;
    }
}

.social-link-wrapper{
    margin-bottom: 40px;
    position: relative;
    &::before{
        content:"";
        position: absolute;
        width: 100%;
        border: 1px solid #707070;
        top: 40px;
    }
    .share-link, .social-logo{
        margin-right: 16px;
    }
    
    .share-link{
        font-size: 16px;
        font-weight: bold;
    }
    
    .social-logo{
        width: 24px;
        height: 24px;
    }
}

.page-switch-item{
    &:nth-child(1){
        margin-right: 12px;
    }
}

.mdi.mdi-arrow-left, .mdi.mdi-arrow-right, .page-switch-title{
    font-size: 16px;
}