// font CSS

.article-title, .article-content{
    font-family: "Noto Sans TC", sans-serif;
}

.article-eng-title, .article-date, .more-text{
    font-family: "Roboto", sans-serif;
}

// blog article CSS


.blog-article{
    margin-bottom: 64px;
    @include tablet{
        margin-bottom: 0;
    }
    @include mobile{
        margin-bottom: 24px;
    }
}

.blog-article-item-wrapper{ 
    margin-bottom: 60px;
    &:nth-child(5n){
        margin-bottom: 0;
    }
    @include tablet{
        margin-bottom: 24px;
    }
}


.blog-article-item{
    @include tablet{
        display: none;
    }
}

.blog-article-item-sm{
    display: none;
    @include tablet{
        display: flex;
    }
    @include mobile{
        flex-direction: column;
    }
}

.blog-article-image{
    width: 49%;
    @include tablet{
        width: 48.2%;
    }
    @include mobile{
        width: 100%;
    }
}

.article-card-info-wrapper{
    width: 49%;
    flex-direction: column;
    justify-content: flex-end;
    @include tablet{
        width: 48.3%;
    }
    @include mobile{
        width: 100%;
    }
}

.article-card-title{
    font-size: 32px;
    font-weight: 400;
    text-align: left;
    @include tablet{
        font-size: 24px;
        margin-bottom: 0;
    }
}

.article-card-info-sub-wrapper{
    margin-bottom: 16px;
    @include tablet{
        margin-bottom: 4px;
    }
}

.article-card-eng-title{
    font-size: 20px;
    font-weight: 500;
    @include tablet{
        font-size: 16px;
    }
}

.article-card-date{
    font-size: 16px;
}

.article-card-content{
    font-size: 20px;
    color:#555555;
    margin-bottom: 102px;
    text-align: justify;
    @include tablet{
        font-size: 16px;
        margin-bottom: 0;
    }
    @include mobile{
        display: none;
    }
}

.more-text{
    font-size: 36px;
    font-weight: 900;
    margin-right: 0;
    margin-left: auto;
    @include tablet{
        display: none;
    }
}