// font CSS

h2, label, .product-series, .slogan, .button, .item-title, .item-text, .customer-recommend-info, .contact-us-description{
    font-family: "Noto Sans TC", sans-serif;
}

.iconic-frame-name, .co-brand-design-frame-name{
    font-family: "Roboto", sans-serif;
}

// banner CSS
.banner{
    background-image: url("../images/home-header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 787px;
    .container{
        height: 100%;
    }
    .flex{
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    @include tablet{
        background-image: url("../images/home-header-sm.png");
    }
    @include mobile{
        height: 396px;
    }
}

.product-series{
    font-size: 36px;
    @include mobile{
        font-size: 16px;
    }
}

.slogan{
    font-size: 64px;
    font-weight: bold;
    @include mobile{
        font-size: 24px;
    }
}

.banner-button{
    font-size: 20px;
    padding: 6px 12px;
}

// feature CSS

.feature{
    background-color: #FBF2F2;
}

.feature-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
}

.feature-list{
    align-items: flex-start;
    @include tablet{
        flex-wrap: wrap;
    }
}

.list-item{
    width: 23.3%;
    flex-direction: column;
    @include tablet{
        width: 48.2%;
    }
    @include mobile{
        width: 100%;
    }
}

.feature-icon{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
    margin-bottom: 16px;
}

.item-title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

.item-text{
    font-size: 16px;
    text-align: justify;
}

// iconic frame CSS

.iconic-frame-list{
    @include tablet{
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
    }
}

.iconic-frame-title{
    margin-bottom: 48px;
}

.iconic-frame-item{
    width: 32%;
    @include tablet{
        width: 48.2%;
    }
    @include mobile{
        width: 100%;
    }
}

.iconic-frame-image{
    width: 100%;
    margin-bottom: 8px;
}

.iconic-frame-name{
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}

// co-brand design frame CSS

.co-brand-design-frame{
    background-image: url("../images/index-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include tablet{
        background-image: url("../images/index-bg-md.png");
    }
    @include mobile{
        background-image: url("../images/index-bg-sm.png");
    }
}

.co-brand-design-frame-title{
    margin-bottom: 48px;
}

.co-brand-design-frame-list{
    @include tablet{
        flex-direction: column;
        row-gap: 24px;
    }
}

.co-brand-design-frame-item{
    width: 50%;
    @include tablet{
        width: 100%;
    }
}

.co-brand-design-frame-image, .co-brand-design-frame-name{
    width: 100%;
}

.co-brand-design-frame-name{
    background-color: #FFFFFF;
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

// customer recommend CSS

.customer-recommend-list{
    @include tablet{
        flex-wrap: wrap;
        gap: 24px 24px;
    }
}

.customer-recommend-title{
    margin-bottom: 48px;
}

.customer-recommend-item{
    width: 23.6%;
    border-radius: 4px;
    @include tablet{
        width: 48.2%;
    }
    @include mobile{
        width: 100%;
    }
}

.customer-recommend-image{
    width: 100%;
}

.customer-recommend-info{
    box-shadow: 0px 2px 6px #00000029;
    padding: 16px;
    border-radius: 0 0 4px 4px;
}

.customer-name, .customer-comment{
    font-size: 16px;
}

.customer-name{
    font-weight: 500;
    margin-bottom: 8px;
}

.customer-comment{
    height: 112px;
    text-align: justify;
}

.comment-date{
    font-size: 14px;
}

// contact us CSS

.contact-us{
    background-color: #FBF2F2;
    .container{
        max-width: 636px;
    }
}

.contact-us-title{
    margin-bottom: 48px;
}

.contact-us-description{
    font-size: 20px;
    margin-bottom: 24px;
    text-align: justify;
}

.contact-us-input-list{
    margin-bottom: 48px;
}

.contact-us-input-item{
    width: 100%;
    margin-bottom: 16px;
}

.item-input-label{
    display: block;
    margin-bottom: 8px;
}

.item-input{
    width: 100%;
    height: 36px;
    background-color:transparent;
    font-size: 16px;
    padding-left: 12px;
    &.user-response{
        height: 136px;
    }
}

.mdi-checkbox-blank-outline, .mdi-checkbox-marked-outline{
    font-size: 24px;
    margin-right: 4px;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
}

.contact-us-input-item:last-child{
    align-items: center;
    justify-content: flex-start;
}

.contact-us-send-button{
    display: block;
    text-align: center;
    width: 65.4%;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}