// font CSS

.pagination{
    font-family: Roboto, sans-serif;
}

.pagination{
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
    @include mobile{
        margin-bottom: 64px;
    }
}

.pagination-prev, .pagination-next, .pagination-pages{
    border: 1px solid #555555;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    &:hover{
        background-color: #F2F2F2;
        color:#555
    }
}

.pagination-prev, .pagination-next{
    font-size: 19px;
    padding-left: 12px;
    padding-right: 12px;
}

.pagination-pages{
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
    &.current{
        background-color: #000;
        color: #FFF;
    }
}

.pagination-prev,.pagination-pages, .pagination-next{
    @include mobile{
        font-size: 16px;
    }
}
